<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5Af9X6iHSWlELWU1dwHrDQjYgHmtCuKw</string>
	<key>GCM_SENDER_ID</key>
	<string>384004291545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vistaGram</string>
	<key>PROJECT_ID</key>
	<string>appclone-55ea8</string>
	<key>STORAGE_BUCKET</key>
	<string>appclone-55ea8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384004291545:ios:7578b1cbd84a862d46f7c8</string>
</dict>
</plist>